@font-face {
  font-family: 'aleoregular';
  src: url('../font/aleo-regular-webfont.woff2') format('woff2'),
  url('../font/aleo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
