.header {
  width: 100%;
  background-color: $blue;
  overflow: hidden;
  .header-right__item {
    float: left;
    text-align: center;
    text-decoration: none;
    font-family: $font-aleo;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
    padding: 0 22px;
    line-height: 80px;
    cursor: pointer;
  }
}
.header__wrap {
  width: 100%;
  max-width: 1114px;
  margin: 0 auto;
}
.header__logo {
  font-family: $font-josefina;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  line-height: 80px;
  letter-spacing: 1px;
}
.header-right__item {
  &:last-child {
    padding-right: 0;
  }
}
.header-right {
  float: right;
  >a {
    &:hover {
      color: $light-gray;
    }
  }
}
@media screen and (max-width: 1024px) {
  .header {
    a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .header-right {
    float: none;
  }
}
