$white: #FFFFFF;
$grey: #999999;
$light-gray: lightgray;
$black: #232323;
$font-josefina: 'Josefin Sans', sans-serif;
$font-aleo: 'aleoregular';
$blue: #5474FD;
$dark-blue: #496BFE;
$green: green;
$red: red;














