.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.review__title {
  color: $white;
  font-family: $font-aleo;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  padding-top: 14px;
}
.review__bg {
  background-image: url("../img/man.png");
  width: 100%;
  height: 730px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.review-item {
  display: flex;
  justify-content: center;
  padding: 96px;
}
.review-item__img {
  background-image: url("../img/man-review.png");
  width: 445px;
  height: 284px;
  background-repeat: no-repeat;
  background-size: cover;
}
.review-item-content {
  height: 284px;
  width: 665px;
  background-color: $black;
}
.review-item-content__title {
  color: $white;
  font-family: $font-josefina;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 48px 60px 40px 60px;
  letter-spacing: -1px;
}
.review-item-content__dsc {
  color: $light-gray;
  font-family: $font-josefina;
  font-size: 16px;
  line-height: 26px;
  padding-left: 58px;
  padding-right: 14px;
  letter-spacing: -1px;
  &::before {
    content: url(../img/quote.png);
    position: relative;
    bottom: 10px;
    padding: 0 6px 0 0;
  }
}
