@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import "css/main.css";
@import "css/header.css";
@import "css/about.css";
@import "font/stylesheet.css";
@import "css/country.css";
@import "css/review.css";
@import "css/footer.css";
@import "css/features.css";




@font-face {
    font-family: 'aleoregular';
    src: url('aleo-regular-webfont.woff2') format('woff2'),
    url('aleo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



